__pycache__/
.idea/
.vscode/
*.build
*.themerasettings
*.tmp
~$help.docx
~$help.rtf
accesstoken.txt
build/
help.docx
LICENSE.txt
PyInstaller Automated Build Script - Themera.bat
themera.iss
themera.spec
update_hashes.py
zip_up.py