*.themerasettings
*.tmp
.idea/
.vscode/
LICENSE.txt
PyInstaller Automated Build Script - Themera.bat
__pycache__/
accesstoken.txt
build/
help.docx
themera.iss
themera.spec
update_hashes.py
zip_up.py
~$help.docx
~$help.rtf